{% extends 'base.html' %}

{% block content %}


{% endblock %}


<!-- <button type="submit" class="btn btn-warning btn-group-lg" onclick="javascript:eraseText();">Șterge</button>


<div id="accordion">
	<div class="card">
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
          Conllu convertor
        </button>
      </h5>
    </div>
    <div id="collapseTow" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-header">
        <form method="POST" action="/" class="mt-4">	
					<button type="submit" class="btn btn-warning btn-group-lg" name="func" value="2">Trimite</button>
					<div class = "container">
						<div class = "row justify-content-center">
							<div class = "col-12">
								<textarea class="form-control my-4" id="textarea" rows="10" placeholder="Introdu o propoziție formatată în conllu aici" name="conllu" style="resize: none;">{{conllu}}</textarea>
							</div>			
						</div>
					</div>		
				</form>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          SpaCy convertor
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">    
      <div class="card-body">
        <form method="POST" action="/" class="mt-4">	
					<button type="submit" class="btn btn-warning btn-group-lg" name="func" value="1">Trimite</button>
					<div class = "container">
						<div class = "row justify-content-center">
							<div class = "col-12">
								<textarea class="form-control my-4" id="textarea" rows="10" placeholder="Introdu o propoziție formatată în conllu aici" name="conllu" style="resize: none;">{{conllu}}</textarea>
							</div>			
						</div>
					</div>		
				</form>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class = "container">
	<div class = "row justify-content-center">
		<div class = "col-11">
			{{svg | safe}}
		</div>
	</div>
</div> -->

<script type="text/javascript">
function eraseText() {
  document.getElementById("textarea").value = "";
}
</script>

